Store config in DNS instead of YML

Copying over the idea from https://forum.caddyserver.com/t/requested-plugins-ideas-for-developers/127/11

>TXT records such as: "302;https://example.com"
>Or: "302;https://example.com/{uri}"
>On an incoming request the plugin would request the _redirect.$host TXT record and redirect the request accordingly. This has rudimentary caching due to how DNS works.

This sounds like a great way to run a zero-knowledge service. lightsaber has to be pointed to still using the CNAME (which we can confirm).

The TXT record is appropriately cached by our local DNS resolver for the TTL. We can go a step ahead and cache everything 301 at our end (either Caddy or lightsaber).

This fixes so many problems, I'm angry at myself for not having figured it out myself.

The general idea is/was to have 3 modes of operation. If you would implement this as a caddy plugin, I would be in favor. But seeing the format thought through with another implementation is a great starting point. Thanks for taking the idea further.

**Default:**
Redirect domains using the default TXT record. One could define a default policy either within the plugin/server or in a TXT record.
This would be an abstracted record using placeholders like caddy is able to.

**Fallback:**
Domains without any DNS records or without a fallback specified would just redirect to www.$domain.$tld.

**Specific:**
If a text record is located at _redirect.$domain.$tld the TXT record is parse and the user redirected accordingly.

The idea was to have a subset of the caddy [placeholders](https://caddyserver.com/docs/placeholders) available:
 *   {dir} - The directory of the requested file (from request URI)
 *   {file} - The name of the requested file (from request URI)
 *   {fragment} - The last part of the URL starting with "#"
 *   {host} - The host value on the request
 *   {hostonly} - Same as {host} but without port information
 *   {path} - The path portion of the URL (does not include query string or fragment)
 *   {port} - The client's port
 *   {query} - The query string portion of the URL, without leading "?"
 *   {scheme} - The protocol/scheme used (usually http or https)
 *   {uri} - The request URI (includes path, query string, and fragment)

**Examples**
Specific:
"302;https://example.com" <- Don't add a query string or anything. Plain redirect to https://example.com.
"301;https://example.com/{uri}" <- Adds the actual uri to the redirect.

Default:
"302;https://about.{host}/{uri}"
"302;https://archive.example.com/{hostonly}/{uri}"
"302;{scheme}://{hostonly}:{port}/{dir}/{file}"

For caching I would probably solely rely on the local resolver.
* simpler implementation
* familiar TTL without any config interfering
* if another DNS cache is really needed one could have coredns.io in front doing caching and proxying

This repo already caters to the base case of the idea of a "root", allowing:

`github.captnemo.in/reponame` to redirect to `https://github.com/captn3m0/repo`

I only serve lightsaber over HTTPS, redirecting all HTTP requests to HTTPS. (Not sure if I have HSTS configured yet).

But more customizability looks like a nice idea. I'll have to make sure that the ruby URI parses does the same parsing as caddy, but that shouldn't be too hard.

I'm wondering how do we handle multiple TXT records? Just pick the first? (Might be helpful ti allow filters, but that makes it needlessly complicated)

As caddy plugin exposing the query rate and requests via the prometheus middleware and the log middleware would be another feature. You could take a look at how the prometheus middleware from [caddy](https://github.com/miekg/caddy-prometheus) and/or [coredns](https://github.com/miekg/coredns/tree/master/middleware/metrics) exposes queryrate etc. (ok I'm stopping with the ideas now ;) )

Ah yeah I think I might had a weight or incremental integer within the format. As TXT records might be shuffled.
But then it seemed too much complexity for not much gain. But might be worth it. Maybe choose the first by default and if multiple are available look for a weight attribute?

Maybe it makes more sense or makes the parser more extensible with a format like:
"type:302;weight/uid:1;record/string/$noidea:https://example.com/{uri}"

One could look into how TXT records for SPF records are done. They usually have multi TXT records available.


- Can you clarify on the `uid` param? Confused as to why we'd have that.
- I'm not very sure about the fallback you propose. Redirecting to `www` is not what everyone wants. Since there are two requirements to use the service: a CNAME/A record and a TXT record, we can just return a 404 if none of the requirements match.

Going to try writing some code around this today.

The idea behind weight, uid or probably better an order id, was to make it possible to overflow the string into a second TXT record, if needed. That was just one consideration, before I dug into the RFCs for DNS.
It should be possible to have multiple TXT records, which the application should be able to handle. Perhaps starting with one TXT record, which can be at most 255 chars, should be enough.

Just wanted to give most of my considerations so you can get a better picture of the thoughts I already had.

The fallback was similar.  I thought it would be a sane default, but you might be right. "Falling" back to error, might be more explicit. I still would think the default mode makes sense, especially for multiple domains. One record for all parked domains, which then get redirected via the one record.

Will do my best to understand the ruby implementation ;)


Read up a bit. The spec says:

```
3.1.3.  Multiple Strings in a Single DNS record

   As defined in [RFC1035] sections 3.3.14 and 3.3, a single text DNS
   record (either TXT or SPF RR types) can be composed of more than one
   string.  If a published record contains multiple strings, then the
   record MUST be treated as if those strings are concatenated together
   without adding spaces.  For example:

      IN TXT "v=spf1 .... first" "second string..."

   MUST be treated as equivalent to

      IN TXT "v=spf1 .... firstsecond string..."

   SPF or TXT records containing multiple strings are useful in
   constructing records that would exceed the 255-byte maximum length of
   a string within a single TXT or SPF RR record.
```

The number of such strings [is limited by the 64K](https://lists.isc.org/pipermail/bind-users/2009-March/075931.html) limit on DNS records, which I think is more than necessary.

Since we are using a subdomain (`_redirect`), I think it makes it fair game to ask it to be only used for the redirect itself. This give us more than enough space for the larges of URLs. We can put a note and ask people to be nice and try to limit it to 512 as well.

Summary: Single multi-line TXT records, concatenated same as in the spec.

I love this idea, and would be perfectly happy if it only supported the most basic of hostname rewriting:

`lightsaber.mydomain.tld TXT "myrealdomain.tld"` would be perfectly sufficient.

It would need a protocol as well, otherwise causes ambiguity issues. I'm hoping to finish the work on #4 sometime by next week, and hopefully launch this (even if with partial support for even basic params)

Discussed with a friend offline, and he pointed out that we should just add a sentinel to "highlight" the relevant TXT record in a record set. Similar to how SPF does `v=spf1`, I'm adding `v=lr1` (lightsaber redirect v1) for now. That way even if we get multiple records, we know which one to pick.

What about v=dr1 aka dns redirect v1? So it can be more easily reused. Specifying a "standard" to one implementation seems imperfect. (I am still hoping for a caddy plugin in the future)

Makes sense. Will change to `v=dr1`

Keeping discussion on the issue, rather than PR. I wrote https://github.com/captn3m0/lightsaber/wiki/Domain-Redirects  as a very basic spec. Please feel free to edit and improve.

Any reason for preferring `to=` instead of `url=`?

URL describes 95% of the use probably, but it is only a subsets of URIs. The idea was to accommodate future other uses. A redirect does always redirect to something, but a URL might not always be used.

Also it might make it possible to add from= later on, which filters incoming connections or makes it possible to set various rules by providing multiple records.

Wondering if it makes sense to add proper templating support in here. A light-weight template engine could suffice just to have conditionals, which is what https://github.com/captn3m0/lightsaber/pull/6 is attempting with the current YAML.

So you could do the same with (this uses liquid, but we could use something else):

`{% if path === '/delhi' %}https://example.com/URL1{%else%}https://example.com/URL2{%endif%}`

Due to record size, my idea was to use regex syntax and placeholders as caddy for examples uses: https://caddyserver.com/docs/redir

Interesting. I'm going to take note of that for later. Maybe add a `format=caddy;v=dr2` later.

Thinking about another use-case such as url shorteners. It might be nice to cater to this use-case too.

Host redirect:
```
_redirect IN TXT "v=dr1;to=https://example.com/{uri}/;code=302;(type=host)"
```

Path redirect:
```
_redirect IN TXT "v=dr1;to=https://example.com/$1/$2/{uri};code=302;type=path"
_redirect.$2.$1 IN TXT "v=dr1;to=https://shortened.example.com/{uri};code=302"
```

Can you clarify the difference between host and path redirects? host is where you get the final URL in the first attempt, and a path redirect involves a second lookup?

Yeah host is the final redirect and the default behaviour. A path redirect involves a second lookup, which reflects shortener behaviour or legacy redirects better.

Small update:
We have a hosted service up and running, if you want to test the behavior.
There are also docs and the current specification available: https://about.txtdirect.org/docs/

I'm porting my current lightsaber config to this. Will update how it goes.

Reporting back, most of the port was successful, although I wish the spec was more clear in some aspects. (Multiple redirects on same host for eg)

Thanks for building txtd.io, I've moved my entire lightsaber configuration to that. 

Happy for documentation PRs or generally thoughts/issues on the spec and or implementation are welcome.

